<div class="title">
  <h1>Student Detail Entry Form</h1></div>
<div class="container">
  
<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
  <div class="name">
    <label for="name">Name </label>
    <input type="text" name="name" placeholder="Your Name" formControlName="name">
    <div class="error">
    <span *ngIf="reactiveForm.get('name')?.invalid && reactiveForm.get('name')?.touched">This field is required</span> 
  </div>
  </div>
  

  <div class="address">
    <label for="address">Address</label><br>
    <textarea  name="address"  cols="50" rows="5"  formControlName="address"></textarea>
    <div class="error">
      <span *ngIf="reactiveForm.get('address')?.invalid && reactiveForm.get('address')?.touched">This field is required</span> 
    </div>
  </div>
  

  <div class="mail">
    <label for="email">Email</label>
    <input type="email" name="email"  formControlName="email">
    <div class="error">
    <span *ngIf="reactiveForm.get('email')?.invalid && reactiveForm.get('email')?.touched">Please enter a valid email id</span>
  </div>
  </div>

  <div class="password">
    <label for="password">Password</label>
    <input type="password" name="password"  formControlName="password">
    <div class="error">
      <span *ngIf="reactiveForm.get('password')?.invalid && reactiveForm.get('password')?.touched">
        <ul>
          <li>Password should conatin a special character</li>
          <li>Should be atleast 8 character long</li>
          <li>Should contain a capital letter & a small letter</li>
        </ul>


         </span> 
    </div>
  </div>

  <div class="mob">
    <label for="mobile">Mobile Number</label>
    <input type="tel" name="mobile" formControlName="mobile">
    <div class="error">
    <span *ngIf="reactiveForm.get('mobile')?.invalid && reactiveForm.get('mobile')?.touched">Enter a valid mobile number</span>
  </div>
  </div>

  <div class="msg">
    <label for="message">Your Message</label><br>
    <textarea rows="4" cols="50" name="comment" type="text" formControlName="comment">
      Enter text here...</textarea>

      <div class="error">
      <span *ngIf="reactiveForm.get('comment')?.invalid && reactiveForm.get('comment')?.touched "><ul>
        <li>Should contain at least 3 character</li>
        <li>Should not exceed 10 character</li>
      </ul></span>
    </div>
  </div>
  <div class="btn">
    <button class="btn1" type="submit">Submit</button>
  </div>
</form>
</div>